::-webkit-scrollbar {
  display: none;
}

/* Gif Pre-Loader */

.loaderWrapper {
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderWrapper > div {
  position: absolute;
}

.loaderWrapper > div > img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  display: none;
  z-index: 999;
  margin-bottom: 160px;
}

/* Progress Bar */

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progressBar {
  margin-top: 400px;
  height: 10px;
  width: 1000px;
  background-color: #f0f0f0;
  border-radius: 500px;
  transform: scaleX(0);
  transform-origin: left;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.progressBarFullShadow {
  height: 100%;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 9s cubic-bezier(1, 0, 0.5, 1) forwards;
  border-radius: 500px;
}

.progressBarFull {
  height: 100%;
  width: 100%;
  background-color: #f23762;
  border-radius: 500px;
}

/* Rainbow Button Click to Enter */

.enterBtn {
  display: none;
  width: 200px;
  height: 50px;
  background-color: black;
  background-color: #111;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  z-index: 1000;
}

.rainbowBtn {
  height: 60px;
  width: 210px;
  margin-top: 80px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: rotate 1.5s linear infinite;
}

.rainbowBtn > span {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 5px;
}

.rainbowBtn:hover > span {
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  filter: blur(4px);
}

/* Rainbow Button Rotate Animation */

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
